.foco {
  background-color: white;
  height: 100px;
  width: 100px;
}

.luz {
  background-color: yellow;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.flex{
  display:flex;
}

.absolute_center{
  justify-content: center;
  align-items: center;
}

.space_around{
  justify-content: space-around;
}

.pt{
  padding-top: 50px;
}